html, body {
	height: 100%;
	width: 100%;
	background-color: #fff;
}

@font-face {
    font-family: Museo;
    src: url(museo.ttf);
}

#topbackground {
    position: relative;
    background-size: 1400px 100px;
    overflow: hidden;
    content: ' ';
    display: block;
    left: 0;
    top: 0;
    width: 100%;
    height: 50%;
    background: url("../img/background.jpg");
    background-repeat: no-repeat;
    background-position: 30% 0;
    -ms-background-size: cover;
    -o-background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-size: cover;
	z-index: 1;
}

.container {
    width: 80%;
    margin: 10 auto;
    position: absolute;
    z-index: 100;
}

.header{
    width: 100%;
    margin-top: 10px;
    margin-right: 100px;
    margin-bottom: 10px;
    margin-left: 100px;
    position: relative;
}

.navigation {
    display: inline-block;
    float: right;
    font-size: 14px;
    /* required to center vertically the navigation in the top bar */
    padding-top: 10px; 
    padding-bottom: 10px;
}

.navigation li {
    display: inline-block;
}

.navigation li a {
    text-decoration: none;
    color: #fff;
    margin-left: 15px;
    padding: 10px;
    border-radius: 7px;
}

.navigation li a:hover {
    background-color: #e5e5e5;
	color: #28488C;
}

.active a {
    background-color: #28488C;
    color: #fff;
    padding: 10px;
    float: center;
}

.content {
    width: 85%;
	margin: 100 auto;
    position: relative;
    z-index: 100;
}

.content h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 80px;
    color: #fff;
}

.content p {
    font-family: Poiret One;
    font-size: 42px;
    color: #fff;
}

#myButton, .myButton  {
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 17px;
  text-decoration: none;
  background-color: #28488C;
}

#myButton, .myButton a :hover {
  cursor: pointer;
  background-color: #fff;
  color: #28488C;
}

#centerbackground{
    position: relative;
    background-color: #fff;
    background-size: 1400px 200px;
    left: 0;
    top: 0;
    width: 100%;
}

.containercenter {
    position: relative;
    width: 80%;
    margin: 50 auto;
}

.fa {
    color: #28488C;
}

.containercenter h2 {
    font-size: 28px;
    font-family: Poiret One;
    color: #000;
    display: inline-block;
    margin-left: 15px;
    margin-bottom: 10px;
}

.containercenter h4 {
    font-size: 18px;
    font-family: Poiret One;
    color: #000;
    margin: 10 45;
}

.containercenter h6 {
    font-size: 18px;
    font-family: Poiret One;
    color: #000;
    margin: 0 45;
    text-decoration: none;
}

.myButton1 {
  border-radius: 7px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  font-family: Verdana;
  font-size: 12px;
  font-weight: bold;
  padding: 14px 17px;
  text-decoration: none;
  background-color: #28488C;
  margin-top: 60px;
  margin-bottom: 60px;
}

#myButton1, .button, a:hover{
  cursor: pointer;
  background-color: #28488C;
  color:#fff;
}

#bottombackground {
    position: relative;
    background-color: #e5e5e5;
    height: 560px;
    width: 100%;
}

.containerbottom {
    position: relative;
    width: 80%;
    margin: auto;
}

.contentbottom {
    position: relative;
    width: 40%;
    margin: auto;
    float: left;
}

.contentbottom h1 {
    font-size: 48px;
    font-family: Poiret One;
    color: #000;
    margin-top: 40px;
}

.contentbottom h4 {
    font-size: 18px;
    font-family: Poiret One;
    color: #000;
    margin: -20 auto;
    text-decoration:none;
}

.contentbottom h5 {
    font-size: 18px;
    font-family: Poiret One;
    color: #9d9d9d;
    margin: 30 auto;
    text-decoration:none;
}

.laptop {
    position: relative;
    float: right;
    margin-top: 40px;
}

.footer {
    position: relative;
    background-color: #fff;
    height: 400px;
    width: 100%;
}

.sayhello {
    position: relative;
    width: 40%;
    margin-left: 145px;
}

.sayhello h1 {
    font-size: 52px;
    font-family: Poiret One;
    color: #000;
    margin-top: 90px;
}

.sayhello h4 {
    font-size: 20px;
    font-family: Poiret One;
    color: #28488C;
    margin-top: -20px;
}

.icons {
    position: relative;
    width: 80%;
    margin: auto;
    margin-top: 50px;
}

.soc {
    margin:0; padding:0;
    list-style:none;
}

.soc li {
    display:inline-block;
    zoom:1;
}

.soc li i {
    font-style:normal;
    font-weight:400;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    -ms-box-sizing:border-box;
    -o-box-sizing:border-box;
    box-sizing:border-box;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 80px;
    height: 80px;
    line-height: 80px;
    font-size: 44px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
    margin-right: 12px;
    color: #28488C;
    background-color: none;
}

.soc li a {
    text-decoration:none;
}

.fa-li {
    background-color: #e5e5e5;
}

.copyright {
    position: relative;
    width: 100%;
    text-align: center;
    margin-top: 70px;
}

